meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  Boxicons 
link(href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css", rel="stylesheet")
//  My CSS 
link(rel="stylesheet", href="/css/sang.css")
title Stock du sang
//  SIDEBAR 
section#sidebar
  a.brand(href="#")
    span.text Banque du sang 
  ul.side-menu.top
    li.active
      a(href="/admin/blood-bank")
        i.bx.bxs-dashboard
        span.text Stock du sang 
    li
      a(href="/admin/dashboard")
        i.bx.bxs-shopping-bag-alt
        span.text Dashboard
  ul.side-menu
    li
      a(href="#")
        i.bx.bxs-cog
        span.text Parametres
    li
      a.logout(href="#")
        i.bx.bxs-log-out-circle
        span.text Deconnexion
//  SIDEBAR 
//  CONTENT 
section#content
  //  NAVBAR 
  nav
    i.bx.bx-menu
    a.nav-link(href="#") Donneurs
    form(action="#")
      .form-input
        input(type="search", placeholder="Rechercher...")
        button.search-btn(type="submit")
          i.bx.bx-search
    input#switch-mode(type="checkbox", hidden)
    label.switch-mode(for="switch-mode")
    a.notification(href="#")
      i.bx.bxs-bell
      span.num 8
    a.profile(href="#").
      
      
  //  NAVBAR 
  //  MAIN 
  main
    .head-title
      .left
        h1 Tableau de bord
        ul.breadcrumb
          li
            a(href="#") Tableau de bord 
          li
            i.bx.bx-chevron-right
          li
            a.active(href="#") accueil
      a.btn-download(href="#")
        i.bx.bxs-cloud-download
        span.text Telecharger le PDF
    //- ul.box-info
    //-   li
    //-     i.bx.bxs-calendar-check
    //-     span.text
    //-       h3 100
    //-       p Nouvelles demande
    //-   li
    //-     i.bx.bxs-group
    //-     span.text
    //-       h3 60
    //-       p Donneurs
    //-   li
    //-     i.bx.bxs-shopping-bag-alt
    //-     span.text
    //-       h3 940
    //-       p Unite totale (ml)
    .table-data
      .order
        .head
          h3 Quantite du sang
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Groupe sanguin
              th Date du dernier ajout
              th Quantite
          tbody
            each bloodBankRecord in bloodBankRecords
              tr
                td= bloodBankRecord.bloodType
                td= bloodBankRecord.updatedAt.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' })
                td
                  span.status.pending= bloodBankRecord.stock + ' ml'

            //- tr
            //-   td
            //-     p O+
            //-   td 01-04-2023
            //-   td
            //-     span.status.pending 300 ml
            //- tr
            //-   td
            //-     p O-
            //-   td 01-04-2021
            //-   td
            //-     span.status.pending 120 ml
            //- tr
            //-   td
            //-     p A+
            //-   td 21-03-2021
            //-   td
            //-     span.status.process 100 ml
  //  MAIN 
//  CONTENT 
script(src="stock du sang.js")