meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  Boxicons 
link(href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css", rel="stylesheet")
//  My CSS 
link(rel="stylesheet", href="/css/dashboard.css")
title blood-bank
//  SIDEBAR 
section#sidebar
  a.brand(href="#")
    span.text SaveARed 
  ul.side-menu.top
    li.active
      a(href="/admin/blood-bank")
        i.bx.bxs-dashboard
        span.text blood bank 
    li
      a(href="/admin/dashboard")
        i.bx.bxs-shopping-bag-alt
        span.text Dashboard
  ul.side-menu
    li
      a(href="/admin/profile")
        i.bx.bxs-cog
        span.text Profile
    li
      a.logout(href="/admin/login")
        i.bx.bxs-log-out-circle
        span.text logout
//  SIDEBAR 
//  CONTENT 
section#content
  //  NAVBAR 
  nav
    i.bx.bx-menu
    form(action="#")
      .form-input
        input(type="search", placeholder="Rechercher...")
        button.search-btn(type="submit")
          i.bx.bx-search
    input#switch-mode(type="checkbox", hidden)
    label.switch-mode(for="switch-mode") 
    a.notification(href="#")
      i.bx.bxs-bell
      span.num 8
    a.profile(href="#")
      img(src="../images/adming.svg")
      
      
  //  NAVBAR 
  //  MAIN 
  main
    .head-title
      .left
        h1 blood bank
        ul.breadcrumb
          li
            a(href="#") blood bank  
          li
            i.bx.bx-chevron-right
          li
            a.active(href="#") blood bank
      a.btn-download(href="#")
        i.bx.bxs-cloud-download
        span.text download PDF
    .table-data
      .order
        .head
          h3 Quantite du sang
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Groupe sanguin
              th Date du dernier ajout
              th Quantite
          tbody
            each bloodBankRecord in bloodBankRecords
              tr
                td= bloodBankRecord.bloodType
                td= bloodBankRecord.updatedAt.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' })
                td
                  span.status.pending= bloodBankRecord.stock + ' ml'
  //  MAIN 
//  CONTENT 
script(src="../js/dashboard.js")
script.
  const voirButtons = document.querySelectorAll('.voir-btn');
  voirButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      const formId = button.dataset.formId;
      window.location.href = `/admin/forms/${formId}/details`;
    });
  });