meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title SaveARed 
//  Page Icon 
link(rel="shortcut icon", href="./images/heartbeat-solid.svg", type="./images/x-icon")
//  font-awesome 
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
//  Custom Css File Link 
link(rel="stylesheet", href="../css/style.css")
link(rel="stylesheet", href="../css/profile.css")
//  Header Section Starts 
.header
  a.logo(href="/")
    i.fas.fa-heartbeat
    |  SaveARed
  nav.navbar
    a(href="/" , class=(path === '/' ? 'active' : '')) home
    a(href="/about") about
    a(href="/contact") contact us
    if user
      if user.userType === 'donor'
        a(href="/appointment-form", class=(path === '/donor-landing' ? 'active' : '')) appointment
      else if user.userType === 'receiver'
        a(href="/landing", class=(path === '/appointment-form' ? 'active' : '')) request
      a(href="/logout") logout
    else
      a(href="/register" , class=(path === '/register' ? 'active' : '')) register
      a(href="/login" , class=(path === '/login' ? 'active' : '')) login
  #menu-btn.fas.fa-bars
//  Header Section End 
//  Home Section starts 
section.home#home
header
section.about
  h1.heading
    span about
    |  us
  .row
    .image
      img(src="./images/Doctors.svg", alt)
    .content
      //- h3 Saving lives through blood donation. Join us, make a difference
      p "We are SaveARed, a passionate team dedicated to saving lives through blood donation. Our mission is to connect donors with those in need and build a community focused on making a positive impact.
      p  With a strong commitment to our communities, we raise awareness about the critical importance of blood donation. Through partnerships and initiatives, we strive to ensure a sustainable blood supply for hospitals, clinics, and emergencies.
      p Our dedicated team organizes blood drives, facilitates donor registration, and provides vital support services to both donors and recipients. Every donation has the power to make a difference, and we are devoted to fostering a culture of giving and compassion.
      p  Join us on this life-saving journey. Together, we can create a healthier, stronger community. Thank you for being a part of our mission."
      a.btn(href="/about")
        | learn more 
        span.fas.fa-chevron-right
        |  

section.footer
  .box-container
    .box
      h3 quick links
      a(href="/")
        i.fas.fa-chevron-right
        |  home
      a(href="/about")
        i.fas.fa-chevron-right
        |  about
      a(href="contact")
        i.fas.fa-chevron-right
        |  contact us
    .box
      h3 our services
      a(href="#")
        i.fas.fa-chevron-right
        |  Free Checkups
      a(href="#")
        i.fas.fa-chevron-right
        |  24/7 Ambulance
      a(href="#")
        i.fas.fa-chevron-right
        |  Total Care
    .box
      h3 contact info
      a(href="#")
        i.fas.fa-phone
        |  +123-456-7859
      a(href="#")
        i.fas.fa-phone
        |  +987-654-3210
      a(href="#")
        i.fas.fa-envelope
        |  SaveARed.info.com
      a(href="#")
        i.fas.fa-envelope
        |  SaveARed.info.@gmail.com
      a(href="#")
        i.fas.fa-map-marker-alt
        |  setif, setif - 1000
    .box
      h3 follow us
      a(href="#")
        i.fab.fa-facebook-f
        |  facebook
      a(href="#")
        i.fab.fa-twitter
        |  twitter
      a(href="#")
        i.fab.fa-linkedin
        |  linkedin
      a(href="#")
        i.fab.fa-instagram
        |  instagram
      a(href="#")
        i.fab.fa-youtube
        |  youtube
      a(href="#")
        i.fab.fa-pinterest
        |  pinterest
  .credit
    | created by 
    span Eve SatOrU
    |  | all right reserved
//  Footer section End  
//  custom js file link  
script(src="js/script.js")