doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 My Form History
        table
            thead
            tr
                th appointment ID
                th appointment Title
                th appointment Status
            tbody
            each appointment in appointments
                tr
                td= appointment.id
                td= appointment.donorId
                td= appointment.status
                //- i muuuuuuuuuuuuust modefieddddddddddddddddddddddddddd                