doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 My Form History
        table
            thead
            tr
                th Form ID
                th Form Title
                th Form Status
            tbody
            each form in forms
                tr
                td= form.id
                td= form.fullName
                td= form.status
                //- i muuuuuuuuuuuuust modefieddddddddddddddddddddddddddd