meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title register
link(rel="stylesheet", href="/css/index.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap", rel="stylesheet")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css")
.container
  .navbar
    //- .logo
    //-   img(src="/images/logo2.png", width="123px")
    nav
      ul#MenuItems
        li.main-header__item
          a(href="/", class=(path === '/' ? 'active' : '')) Home
        li.main-header__item
          a(href="/about", class=(path === '/about' ? 'active' : '')) About
        if user
          li.main-header__item
            a(href="/logout", class=(path === '/logout' ? 'active' : '')) Logout

        else
          li.main-header__item
            a(href="/register", class=(path === '/register' ? 'active' : '')) Register
          li.main-header__item
            a(href="/login", class=(path === '/login' ? 'active' : '')) Login

    a(href="/donate")
      img(src="/images/cart.png", width="30px", height="30px")
// ----------------account-pabe-------------

span(onclick="register()") Register
form.login-form(action="/register", method="post")
  label(for="userName") Username
  input(type="text", name="userName", placeholder="Type your username", required)#userName
  label(for="email") Email
  input(type="email", name="email", placeholder="Type your email", required)#email
  label(for="userPassword") Password
  input(type="password", name="userPassword", placeholder="Type your password", required)#userPassword
  label(for="sex") Sex
  select#sex(name="sex")
    option(value="male") Male
    option(value="female") Female
  label(for="dateOfBirth") Date of Birth
  input(type="date", name="dateOfBirth", required)#dateOfBirth
  label(for="phone") Phone
  input(type="tel", name="phone", placeholder="Type your phone number", required)#phone
  label(for="bloodGroup") Blood Group
  select#bloodGroup(name="bloodGroup", required)
    option(value="A+") A+
    option(value="A-") A-
    option(value="B+") B+
    option(value="B-") B-
    option(value="AB+") AB+
    option(value="AB-") AB-
    option(value="O+") O+
    option(value="O-") O-
  select#userType(name="userType", required)
    option(value="donor") Donor
    option(value="receiver") Receiver
  button.btn(type="submit") Register
  a(href="/login") 
    p Already have an account?
