
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    height:200vh;
}


li {
    display: inline;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar {
   
    position:fixed;
    padding: 30px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    height:0.5%;
    left: 50%;
    top: 20%;
    transform: translate(-50% ,50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    box-sizing: border-box;
    


}

.navbar a{
    
position:relative;
text-decoration: none;
font-size: 19px;
font-family: sans-serif;
text-transform: capitalize;
color: #ffffff;
transition:0.3s ;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
padding:0 10px;
}
a::before {
    content: ' ';
    position: absolute;
    left: 0;
    height: 3px;
    width:0%;
    background-color:#b11526;
    bottom: -7px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

}
a:hover {
    color:#b11526;

}
a:hover::before {
    width: 100%;
}
.navbar .logo {
    font-size: 1.6em;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom: 200px;
    margin-right: 200px;
}


.navbar .nav-links ul {
    display: flex;
    margin-bottom: 200px;
}
.navbar .nav-links ul li {
    margin: 25px;
}
.navbar .nav-links ul li.active a{
    color: #b11526;
    font-weight: 600;

}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: url(./blood-g22c70d077_640.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  




 .main h1 {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 270px;
  
   

}
.main h2 {
    display: inline-block;
    font-size: 2.8em; 
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 1px;
    color:#b11526;
    margin-left: 225px;
    

}
.main h3{
    color: #ffffff;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left:  140px; ;
}
.main h3 span{
    display: inline-block;  
    margin-left: 90px;
}
.cards {
   
    background-color: #f7e2e2;
}
.title {
    display: flex;
    justify-content: center;
    color: #9b1b2a;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #ffffff;
    width: 16.45em;
    box-shadow: 0 5px 25px rgba(134, 133, 133, 0.25);
    border-radius: 10PX;
    padding: 50PX;
    margin: 20PX;
    transition: 0.7S ease;
}
.card:hover {
    transform: scale(1.1);
}

.info {
    text-align: center;
}
.info h3{
    color: #b11526;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.Annonce .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap:1rem;
   
   
}
.Annonce{
    background: url(images/corona-g3425816aa_640.jpg);
}
.heading{
    display: flex;
    justify-content: center;
    color: #9b1b2a;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.Annonce .box-container .box{
    background-color:#f7e2e2;
    width: 22.25em;
    box-shadow: 0 5px 25px rgba(70, 68, 68, 0.25);
    border-radius: 10PX;
    padding: 50PX;
    margin: 20PX;
    transition: 0.7S ease;
}


.Annonce .box-container .box img{
    height: 10rem;
    width: 10rem;
    margin-left: 45px;
    border: radius 10px;;
    object-fit:cover;
    border: .4rem solid #faeeee;
}


.Annonce .box-container .box h3{
    color: #ffffff;
    font-size: 2.2rem;
    padding: .5rem 0;
}
.Annonce .box-container .box .stars i{
    color: #ffffff;
    font-size: 1.5rem;
}

.Annonce .box-container .box .text{
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
}
.Annonce .box-container .box::before{
    content: '';
    position: absolute;
    top: -4rem;left: 50%;
    height: 25rem;
    width:120%;
    transform: translate(-50%);
    background:var(--green);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;

}



.full-page

{

    height: 100vh;

    width: 100%;

    background: #b11526;

    position: absolute;

}

.sub-page

{

    width: 1266px;

    height: 559px;

    position: absolute;

    background: url(images/blood-donor.avif);
    
    background-size: cover;

    background-position: center;

    left: 50px;

    top: 50px;

}

.navigation-bar

{

    display: flex;

    align-items: center;

    padding: 20px;

    padding-left: 80px;

    padding-right: 30px;

    padding-top: 50px;

}

.logo

{

    position: fixed;

    margin-top: 10px;

}

.logo a

{

    text-decoration: none;

    color: white;

    font-size: 30px;

}

nav

{

    flex: 1;

    position: fixed;

    right: 0;

}

nav ul 

{

    display: inline-block;

    list-style: none;

}

nav ul li

{

    display: inline-block;

    margin-right: 90px;

    margin-top: 17px;

}

nav ul li a

{

    text-decoration: none;

    font-size: 20px;

    color: rgb(175, 18, 18);

    font-family: sans-serif;

}

nav ul li a:hover

{

    color:#b11526;

}

.row

{

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: space-around;

}

.col-1

{

    flex-basis: 50%;

    min-width: 300px;

}

.form-box

{

    width: 300px;

	height: 400px;

	position: relative;

    top: 50px;

    left: 120px;

	background: rgba(0,0,0,0.6);

}

.main-heading

{

    color: #b11526;

    padding-bottom: 20px;

}

.form

{

	position: relative;

	margin: 0 auto 100px;

	padding: 45px;

    text-align: center;

}

.form input

{

	font-family: sans-serif;

	outline: none;

    border: none;

    border-bottom: 1px solid black;

	width: 100%;

	margin: 0 0 15px;

	padding: 15px;

	font-size: 14px;

}

.form button

{

	font-family: sans-serif;

	width: 100%;

    color: white;

	font-size: 14px;

	cursor: pointer;

	padding: 15px;

    border: none;

    background:#b11526;

}

.form .message

{

    font-size: 12px;

	margin: 15px 0 0;

    color: white;

}

.form .message a

{

	color: #b11526;

	text-decoration: none;

}

.form .register-form{

	display: none;

}

.defination

{

    text-align: left;

    font-size: 30px;

    color: white;

    font-family: 'Kaushan Script', cursive;

    padding-left: 60px;

}
